In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import math

In [2]:
data1 = pd.read_csv('../data/venezuela_201901_1_tweets_csv_hashed.csv')
data2 = pd.read_csv('../data/venezuela_201901_2_tweets_csv_hashed.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8961788 entries, 0 to 8961787
Data columns (total 30 columns):
tweetid                     int64
userid                      object
user_display_name           object
user_screen_name            object
user_reported_location      object
user_profile_description    object
user_profile_url            object
follower_count              int64
following_count             int64
account_creation_date       object
account_language            object
tweet_text                  object
tweet_time                  object
tweet_client_name           object
in_reply_to_tweetid         float64
in_reply_to_userid          float64
quoted_tweet_tweetid        float64
is_retweet                  bool
retweet_userid              float64
retweet_tweetid             float64
latitude                    object
longitude                   object
quote_count                 float64
reply_count                 float64
like_count                  float64
retweet_count               float64
hashtags                    object
urls                        object
user_mentions               object
poll_choices                object
dtypes: bool(1), float64(9), int64(3), object(17)
memory usage: 1.9+ GB

In [4]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984980 entries, 0 to 984979
Data columns (total 30 columns):
tweetid                     984980 non-null int64
userid                      984980 non-null object
user_display_name           984980 non-null object
user_screen_name            984980 non-null object
user_reported_location      606735 non-null object
user_profile_description    984447 non-null object
user_profile_url            395300 non-null object
follower_count              984980 non-null int64
following_count             984980 non-null int64
account_creation_date       984980 non-null object
account_language            984980 non-null object
tweet_text                  984980 non-null object
tweet_time                  984980 non-null object
tweet_client_name           984980 non-null object
in_reply_to_tweetid         5 non-null float64
in_reply_to_userid          16 non-null float64
quoted_tweet_tweetid        12047 non-null float64
is_retweet                  984980 non-null bool
retweet_userid              1416 non-null float64
retweet_tweetid             1416 non-null float64
latitude                    984980 non-null object
longitude                   984980 non-null object
quote_count                 984973 non-null float64
reply_count                 984973 non-null float64
like_count                  984973 non-null float64
retweet_count               984973 non-null float64
hashtags                    984980 non-null object
urls                        984980 non-null object
user_mentions               984980 non-null object
poll_choices                0 non-null float64
dtypes: bool(1), float64(10), int64(3), object(16)
memory usage: 218.9+ MB

In [10]:
user_vars = ["tweetid", "userid", "user_display_name", "user_screen_name", "user_reported_location", "user_profile_description",
            "follower_count", "following_count", "account_creation_date"  ]
tweet_vars = ["tweet_text", "tweet_time", "is_retweet", "retweet_userid", "retweet_tweetid", "hashtags", "urls", "user_mentions"]
like_vars = ["reply_count", "like_count", "retweet_count" ]

In [19]:
data1_cleaned = data1[user_vars + tweet_vars + like_vars]

In [20]:
data2_cleaned = data2[user_vars + tweet_vars + like_vars]

In [21]:
data1_cleaned["tweet_time"] = pd.to_datetime(data1_cleaned["tweet_time"])
data1_cleaned.set_index("tweet_time", inplace = True)
data1_cleaned['year'] = data1_cleaned.index.year
data1_cleaned['month'] = data1_cleaned.index.month

data2_cleaned["tweet_time"] = pd.to_datetime(data2_cleaned["tweet_time"])
data2_cleaned.set_index("tweet_time", inplace = True)
data2_cleaned['year'] = data2_cleaned.index.year
data2_cleaned['month'] = data2_cleaned.index.month

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
final1 = data1_cleaned[(data1_cleaned['year'] >=2014) & (data1_cleaned['year'] <= 2018)]
final2 = data2_cleaned[(data2_cleaned['year'] >=2014) & (data2_cleaned['year'] <= 2018)]

In [27]:
final = pd.concat([final1, final2])

In [46]:
final.shape

(8906429, 21)

In [35]:
users_grp = final.groupby('userid')['tweet_text'].count().sort_values(ascending = False)

In [40]:
users_grp = users_grp.reset_index()

In [44]:
users_grp = users_grp.rename(index=str, columns={"tweet_text": "num_tweets"})

In [45]:
users_grp.head()

                                      userid  num_tweets
0                                  108975851      781468
1                                  239471570      456690
2                         704007117695524868      254642
3                                 2474443890      194037
4  +uoYQvK+gZIHig5Aim5NboS0CXcxTG0ZdAqp844U=      154746

In [66]:
users_grp.shape

(1562, 2)

In [47]:
final_ = pd.merge(final, users_grp, how = 'left', on = 'userid')

In [48]:
final_.shape

(8906429, 22)

In [96]:
keep_users = final_['num_tweets'] > 5

In [97]:
final_ = final_[keep_users]

In [98]:
final_.shape

(8906053, 22)